/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.storename {
    padding: 0px;
    list-style: none;
}

.storename p,
.storename span {
    margin: 0px !important;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
}


/* .fl-post-grid-gallery{
    background-size: contain!important;
    background-position: center center!important;
} */

.fl-page-header-primary .fl-logo-img {
    max-width: 70%;
}
.gform_wrapper .gfield_checkbox li input,
.gform_wrapper .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gfield_radio li input[type=radio] {
    margin: 2px!important;
    vertical-align: top;
}
@media (min-width: 992px) { 
.homeSlider .fl-module-content-slider .bx-viewport{
	height: auto!important;
}
}
@media (max-width:1080px) {
    .active-gallery-modal .fl-row-content-wrap .col-md-8 {
        width: 63%!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-4 {
        width: 25%!important;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 90%!important;
    }
    .fl-page-nav .navbar-nav li>a {
        font-size: 14px;
        padding: 15px 5px;
    }
}

@media(max-width:992px) {
    .fl-page-nav-search {
        display: block!important;
    }
}

@media (max-width:768px) {
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 32%!important;
    }
    #product-list-top-filters .fl-col-group .fl-col:last-child {
        width: 34%!important;
    }
    .facetwp-page {
        margin-right: 3px!important;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 40%!important;
    }
    .fl-page-header-logo {
        margin: 10px 0;
    }
    .facetwp-checkbox {
        background-position: 0px 3px!important;
    }
    .active-gallery-modal .product-box a.fl-button {
        margin: 0px auto;
    }
    .gform_widget .gform_wrapper .timeEstimate .gfield_time_ampm select {
        max-width: 60px!important;
        width: 60px!important;
    }
    
    .active-gallery-modal .fl-row-content-wrap .col-md-4 {
        width: 35%!important;
    }
}

@media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    ul.fl-page-bar-nav li {
        display: none;
    }
    ul.fl-page-bar-nav li:first-child {
        display: block;
    }
    /* ul.fl-page-bar-nav li:first-child{
        display: block;
    } */
    #responsive-menu-additional-content a {
        color: #fff;
    }
    .responsive-menu-open button#responsive-menu-button {
        position: fixed!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-8 {
        width: 100%!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-4 {
        width: 100%!important;
    }
}

@media (max-width:450px) {
    .fl-page-bar .text-right {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: center !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
    }
    #product-list-top-filters .fl-col-group .fl-col:last-child {
        width: 100%!important;
    }
    .facetwp-page {
        margin-right: 3px!important;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 60%!important;
    }
    button#responsive-menu-button {
        top: 49px!important;
    }
    .fl-builder-content .footer-sect-wrap {
        width: 100%!important;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0px;
    }
}

@media (max-width:390px) {
    .fl-page-bar {
        font-size: 11px;
    }
}


/* 12-6-2029 */

#label_13_11_1:before {
    background: transparent;
    border: 1px solid #ccc;
    height: 12px;
    width: 12px;
    border-radius: 0px;
    font-size: 9px;
    color: #000;
    padding: 0;
}

.product-detail-layout-5 .product-variations {
    margin-top: 0px !important;
}